<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="nav">
        <p><a href="/upload">Upload</a></p>
        <p><a href="/filemanager">Filemanager</a></p>
        <p><a href="/info">Info</a></p>
    </div>
    <div id="text">
        <h1>Info</h1>
    </div>
    <div id="infos">

        <h1>ID:</h1>
        <p>{{thisfile.id}}</p>
        <br>
        <h1>NAME:</h1>
        <p> {{thisfile.name}}</p>
        <br>
        <h1>PATH:</h1>
        <p>{{thisfile.path}}</p>
        <br>
        <h1>SIZE:</h1>
        <p> {{thisfile.size}}</p>
        <br>
        <h1>TYPE:</h1>
        <p>{{thisfile.type}}</p>
        <br>
        <h1>SAVEDATE:</h1>
        <p> {{thisfile.SaveDate}}</p>

    </div>
</body>

</html>